<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bill.css">
    <script type="module" src="../js/bill.js" defer></script>
</head>
<body>
    <main>
        <section class="section_details">
            <article>
                <table class="details_table">
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>P. Unitario</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>incluye version deskopt y mobile</td>
                            <td>2</td>
                            <td>100 €</td>
                            <td>200 €</td>
                        </tr>
                        <tr>
                            <td>incluye version deskopt y mobile</td>
                            <td>2</td>
                            <td>100 €</td>
                            <td>200 €</td>
                        </tr>
                        <tr>
                            <td>incluye version deskopt y mobile</td>
                            <td>2</td>
                            <td>100 €</td>
                            <td>200 €</td>
                        </tr>
                        <tr>
                            <td>incluye version deskopt y mobile</td>
                            <td>2</td>
                            <td>100 €</td>
                            <td>200 €</td>
                        </tr>
                        <tr>
                            <td>incluye version deskopt y mobile</td>
                            <td>2</td>
                            <td>100 €</td>
                            <td>200 €</td>
                        </tr>
                        <tr>
                            <td>incluye version deskopt y mobile</td>
                            <td>2</td>
                            <td>100 €</td>
                            <td>200 €</td>
                        </tr>
                        <tr>
                            <td>incluye version deskopt y mobile</td>
                            <td>2</td>
                            <td>100 €</td>
                            <td>200 €</td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>
    </main>
</body>
</html>