<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bill.css">
    <script type="module" src="../js/bill.js" defer></script>
</head>
<body>
    <main class="main">
        <section class="section_details">
            <article class="details_table">
                <table>
                    <thead>
                        <tr>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>P. Unitario</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="myBill">
                        
                    </tbody>
                </table>
            </article>
        </section>
    </main>
</body>
</html>